/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Add any custom Tailwind classes */
.container {
  @apply bg-light-gray p-6 shadow-custom-light rounded-lg;
}

.editor-box {
  @apply bg-editor-bg border border-gray-300 rounded p-4 text-lg font-mono;
}

.button-run {
  @apply bg-primary-blue text-white font-semibold py-2 px-4 rounded hover:bg-blue-600;
}

.output-box {
  @apply bg-gray-50 border border-gray-300 p-4 rounded;
}
